/* ===== Стили для мобильных устройств ===== */
.list-link-nav {
                display: none;
}

.list-link-address {
                    display: none;
}
.logo {
        display: flex;
        font-family: "Raleway", sans-serif;
        color: var(--iris);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.black-logo {
            color: #2E2F42;
            transition: color var(--time-transition) var(--cubic-transition);
}

.logo:hover .black-logo,
.logo:focus .black-logo {
                         color: var(--iris);
}

.open-mobile-menu-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: transparent;
                    margin-left: auto;
                    padding: 0;
                    line-height: 0;
}
.open-mobile-menu-icon {
                        fill: #2F2F37;
                        transition: fill var(--time-transition) var(--cubic-transition);
}
.open-mobile-menu-icon:hover,
.open-mobile-menu-icon:focus{
                                cursor: pointer;
                                fill: var(--iris);
}
.page-header-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 16px;
                        border-bottom: 1px solid var(--cornflower, #E7E9FC);
                        background: var(--WHITE, #FFF);
                        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.mobile-menu {
                display: flex;
                flex-direction: column;

                position: fixed;
                left: 0;
                top: 0;
                z-index: 99999999;
                width: 100%;
                height: 100%;
                background-color: #ffffff;

                opacity: 0;
                visibility: hidden;
                pointer-events: none;

                padding-left: 16px;
                padding-top: 72px;
                padding-right: 16px;
                padding-bottom: 40px;
}
.mobile-menu.is-open {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
}
.close-mobile-menu-btn {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.10);
        padding: 0;
        border-radius: 50%;
        line-height: 0;
        cursor: pointer;
        fill: var(--navyblue);
        transition: background-color var(--time-transition) var(--cubic-transition), border var(--time-transition) var(--cubic-transition);
}
.close-mobile-menu-btn:hover,
.close-mobile-menu-btn:focus {
        background-color: var(--ocean);
        border: none;
        fill: var(--white);
}
.mobile-menu-link-nav {
        color: var(--navyblue);
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.studio {
        color: var(--OCEAN, #404BBF);
}

.mobile-menu-link-nav {
                        padding-bottom: 40px;
                        display: flex;
                        gap: 40px;
}
.mobile-menu-link-nav:hover,
.mobile-menu-link-nav:focus {
                            color: var(--iris);
}
.modil-menu-contact-and-social-list {
                                    margin-top: auto;
}
.mobile-menu-header-address {
                            font-style: normal;
                            margin-bottom: 48px;
}
.mobile-menu-link-address:hover,
.mobile-menu-link-address:focus {
                                color: var(--iris);
}
.mobile-menu-header-address a {
                                color: #434455;
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 1.2;
                                letter-spacing: 0.4px;
                                transition: color var(--time-transition) var(--cubic-transition);
}
.mobile-menu-header-address .mobile-menu-link-address>.tel{
    color: var(--iris);
}

.mobile-menu-social-list {
                            display: flex;
                            gap: 40px;
}

.social-link {
                display: flex;
                width: 40px;
                height: 40px;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: var(--iris);

                transition: background-color var(--time-transition) var(--cubic-transition);
}

.social-icon {
    fill: var(--cloud);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--ocean);
}
/* ==================== Стили для планшетов ==================== */
/* ============================================================= */
@media screen and (min-width:768px) {
.open-mobile-menu-btn {
                        display: none;
}
.mobile-menu {
        display: none;
}
    .header :hover,
    .header :focus {
                    color: var(--iris);
    }

    .page-header-container {
                            padding-top: 0;
                            padding-bottom: 0;
    }

    .logo {
            margin-right: 120px;
    }

    .navigation {
                display: flex;
                align-items: center;
    }

    .list-link-nav {
                    display: flex;
                    gap: 40px;
    }

    .link-nav {
                display: block;
                position: relative;
                color: #2E2F42;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.50;
                letter-spacing: 0.32px;
                padding: 24px 0;

                transition: color var(--time-transition) var(--cubic-transition);
    }

    .studio {
            color: var(--ocean);
    }

    .link-nav.studio::after {
                            display: block;
                            position: absolute;
                            left: 0;
                            bottom: -1px;
                            width: 100%;
                            height: 4px;
                            background-color: var(--ocean);
                            border-radius: 2px;
                            content: "";
    }

    .list-link-address {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
    }

    .header-address {
                    font-style: normal;
                    margin-left: auto;
    }

    .header-address a {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.17;
                        letter-spacing: 0.48px;
                        color: #434455;
                        transition: color var(--time-transition) var(--cubic-transition);
    }
}
/* ===================== Стили для десктопов =================== */
/* ============================================================= */
@media screen and (min-width:1158px) {
.list-link-address {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
.header-address a {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}
