.features-list-div{
                        display: none;
}
.title-bold {
                color: #2E2F42;
                font-size: 36px;
                font-weight: 700;
                line-height: 1.11;
                letter-spacing: 0.02em;
                display: flex;
                justify-content: center;
                margin-bottom: 8px;
}

.title-normal {
                color: #434455;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.02em;
}
.features-list{
                /* display: inline; */
                display: flex;
                flex-wrap: wrap;
                gap: 72px;
}

.features-list-item{
                        width: 288px;
}
/* .features-list-item:not(:last-child) {
                        padding-bottom: 72px;
} */

/* ==================== Стили для планшетов ==================== */
/* ============================================================= */
@media screen and (min-width:768px) {
.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}

.features-list-item {
    width: calc((100% - 24px)/2);
    padding-bottom: 0px;
}

.title-bold {
    justify-content: flex-start;
}
}
/* ==================== Стили для десктопов ==================== */
/* ============================================================= */
@media screen and (min-width:1158px) {

.features-list-div {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: var(--cloud);
                    height: 112px;
                    border-radius: 4px;
                    border: 1px solid var(--light-slate);

                    margin-bottom: 8px;
}
.title-bold {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
}

.title-normal {
                color: #434455;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.02em;
}

.features-list {
                display: flex;
                gap: 24px;
}

.features-list-item {
                     width: calc((100% - 72px)/4);
}
}