:root {
    --navyblue: #2E2F42;
    --white: #ffffff;
    --cornflower: #E7E9FC;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --cloud: #F4F4FD;
    --light-slate: #8E8F99;
    --green: #31D0AA;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --dairy: #FCFCFC;
    --slate: #434455;

    --time-transition: 250ms;
    --cubic-transition: cubic-bezier(0.4, 0, 0.2, 1);
}